@font-face {
    font-family:"Outfit-Medium" ;
    src: url(../fonts/Outfit-Medium.ttf);
}
@font-face {
    font-family:"Outfit-Regular";
    src: url(../fonts/Outfit-Regular.ttf);
}
/* White: hsl(0, 0%, 100%)
- Light gray: hsl(212, 45%, 89%)
- Grayish blue: hsl(220, 15%, 55%)
- Dark blue: hsl(218, 44%, 22%) */
/* - Mobile: 375px
- Desktop: 1440px */
/* Font size (paragraph): 15px */  
*{
    box-sizing: border-box;
}

body{
    width:100vw;
    height:100vh;
    background-color:hsl(212, 45%, 89%);
    font-size: 0.9375rem;
    font-family:"Outfit-Regular";
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont{
    background-color:hsl(0, 0%, 100%) ;
    border: none;
    display: flex;
    flex-direction: column;
    
    border-radius: 20px;
}
.cont .img{
   
    width: 17.5rem;
    margin:auto;
    margin-top: 1rem;
    margin-bottom: .5rem;
}
.cont .img img{
    width:100%;
    border: none;
    border-radius: 10px;
     

}
.cont .text{
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    letter-spacing: .4px;
    margin:1rem 1.7rem  .5rem 1.7rem;
    text-align: center;
}
.one{
    font-weight: 700;
    width: 100%;
    font-size:1.4375rem;
    margin-bottom: 1.25rem;
    text-align: center;
    line-height: 1.3;
    padding: 0 .1rem 0 .1rem;

}

.two{
    font-weight: 400;
    color:#777;
    width:100%;
    font-size: 0.9375rem;
    margin-bottom:2.5rem;
    text-align: center;
    line-height: 1.2;
    padding: 0 .1rem 0 .1rem;

}